@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/resets" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/typography" as *;

.timer-section {
	display: flex;
	flex-direction: column;
	background-color: $Periwinkle;
	text-align: center;
	width: 90vw;
	height: 100vw;

	&-logo {
		padding: 1rem 0;
		font-size: 3rem;
	}

	&-logo-img {
		height: 12rem;
		width: auto;
	}

	&-form {
		display: flex;
		flex-direction: column;
	}

	&-remaining {
		padding: 1rem 0;
	}

	&__wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1rem;
	}

	&-whole-group__wrapper {
		padding: 1rem 2rem;
		border: 1px solid black;
		margin: 0 13rem;
		border-radius: 0.4rem;
	}

	&-group__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	&-timer__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	&-hours,
	&-minutes,
	&-seconds {
		margin-bottom: 1rem;
	}

	&-input {
		text-align: center;
		width: 4rem;
		border-radius: 0.5rem;
	}

	&-end {
		padding: 1rem 0rem;
	}

	&-counter {
		padding-bottom: 1rem;
		font-size: 3rem;
	}
}
