// Device Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$container-max-width: 365px;

// // Background colours
$Periwinkle: #c6d8ff;
$brainflix-DarkBlue: #71a9f7;
// $alabaster: #fafafa;
// $Mecury: #e1e1e1;
