// Device Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$container-max-width: 365px;

// // Background colours
// $brainflix-blue: #0095ff;
// $brainflix-DarkBlue: #0065ad;
// $alabaster: #fafafa;
// $Mecury: #e1e1e1;
