@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/resets" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/typography" as *;

.Header {
	margin: 0;
}

.Nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background-color: $brainflix-DarkBlue;
	padding: 10px;

	a {
		text-decoration: none;
		color: #333;
		padding: 5px;

		&.active {
			background-color: #4285f4;
			color: #fff;
			border-radius: 5px;
		}
	}
}
