@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/resets" as *;
@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/typography" as *;

.excerciselist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $Periwinkle;

	&__name {
		font-size: 2rem;
	}

	&__thumbnail {
		height: 30%;
		width: auto;
	}
}
